.table-section{
    height: 100%;
    flex-grow: 1;
    display: flex;
}

.table-input{
    flex-basis: 20%;
}

.data-table{
    display: flex; 
    flex-direction: row;

}

.table-form {
    display: flex;
    flex-direction: row;
}

.table-form input{
    display: flex;
    flex-direction: row;
}